body {background:url('../img/background_tile_1.jpg');
    width: 100%;
    height: 100vh;
	margin:0;
	overflow: hidden;
}
html {
    font-family:sans-serif;
    background:url('../img/background_tile_1.jpg');
    width: 100%;
    height: 100vh;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
#back2Top {font-family:sans-serif;
    height: 100%;
    padding-top: 150px;
    vertical-align:top
    font-size: 30px;
    text-decoration: none;
}

#container {
   height: 100px;
   width: 100%;
   margin: 100px auto;
   vertical-align:bottom;
   horizontal-align: middle;
   font-size: 50px;
   font-family:sans-serif;
   color: white;
   position: relative;
  }

#container img {
    position: fixed;
    width:400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container span {
   position:fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom:0px;
   width:100%;
}